const express = require('express');
     const mysql = require('mysql2');
     const app = express();
     const port = 8080;
     const db = mysql.createConnection({
         host: '{{ groups["db"][0] }}',
         user: 'homelab_user',
         password: '{{ db_root_password }}',
         database: 'homelab_db'
     });
     db.connect((err) => {
         if (err) {
             console.error('Database connection failed: ' + err.stack);
             return;
         }
         console.log('Connected to MySQL database!');
     });
      app.get('/', (req, res) => {
         res.send('<h1>Success!</h1><p>Nginx routed you to the App Server,>
     });
     app.listen(port, '0.0.0.0', () => {
         console.log(`App listening on port ${port}`);
     });
